# Importing required Libraries

In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
dataset = pd.read_csv("suv_data.csv");

In [3]:
dataset.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

# Converting The Catgorical Column (Gender) into numeric type

In [4]:
dataset['Gender'] = dataset['Gender'].map({'Male':1, 'Female':0})

In [5]:
dataset.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0
5  15728773       1   27            58000          0
6  15598044       0   27            84000          0
7  15694829       0   32           150000          1
8  15600575       1   25            33000          0
9  15727311       0   35            65000          0

## Fetching Independent Variable (Gender, Age, Estimated Salary)

In [6]:
dataset.corr()

                  User ID    Gender       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.025249 -0.000721         0.071097   0.007120
Gender          -0.025249  1.000000 -0.073741        -0.060435  -0.042469
Age             -0.000721 -0.073741  1.000000         0.155238   0.622454
EstimatedSalary  0.071097 -0.060435  0.155238         1.000000   0.362083
Purchased        0.007120 -0.042469  0.622454         0.362083   1.000000

In [7]:
# independent variable (Gender, Age, EstimatedSalary)
X = dataset.iloc[:, 1:4].values

# Selecting Dependent Variable (Purchased)

In [8]:
# Selecting Independent variable (Purchased)
y = dataset.iloc[:, 4].values

## Dividing Dataset Into Training And Testing set

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

## Performing Scaling

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc = StandardScaler()

In [13]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

## Building Model

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
classifier = LogisticRegression(random_state=0)

In [16]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
y_pred = classifier.predict(X_test)

# Evaluating the Model

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
print('Accuracy : {0}'.format(accuracy_score(y_test, y_pred)*100))

Accuracy : 89.0